name: CI/CD to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy project to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 3.110.250.198
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: '.'
          target: '~/app'
          rm: true

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 3.110.250.198
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/app
            export DOCKER_BUILDKIT=0
            export COMPOSE_DOCKER_CLI_BUILD=1
            docker-compose --env-file /home/ec2-user/configs/covelent.env down
            docker-compose --env-file /home/ec2-user/configs/covelent.env build
            docker-compose --env-file /home/ec2-user/configs/covelent.env up -d
